---
import Container from "../Container.astro";
import unconnected_tripod from "../../assets/unconnected-tripod.png";
import beam from "../../assets/SOPHIE-BEAM.png";
import instagram from "../../assets/instagram.png";
import threeSkillVideo_light from "../../assets/light-mode-video.mp4";
import threeSkillVideo_dark from "../../assets/dark-mode-video.mp4";
---

<div id="features">
  <!-- <Container> -->
  <div class="m-10 lg:my-10 lg:ml-32 lg:mr-10">
    <div
      class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-4 lg:items-center"
    >
      <div class="md:w-5/12 lg:w-1/2">
        <video
          class="w-full dark:hidden"
          src={threeSkillVideo_light}
          autoplay
          loop
          muted
          playsinline
        ></video>
        <video
          class="hidden w-full dark:block"
          src={threeSkillVideo_dark}
          autoplay
          loop
          muted
          playsinline
        ></video>
      </div>
      <div class="md:w-7/12 lg:w-1/2">
        <h2
          class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
        >What is the
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 font-bold"
            >#CoachBowmanChallenge</span
          >?
        </h2>
        <p class="my-8 text-gray-600 dark:text-gray-300">
        </p>
        <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
          <div class="mt-8 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-sky-100 dark:bg-sky-600/20"
            >
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 m-auto text-sky-600 dark:text-sky-400">
                <path d="M7 10V8a5 5 0 0110 0v2"></path>
                <rect x="5" y="10" width="14" height="10" rx="2"></rect>
                <circle cx="12" cy="15" r="1"></circle>
              </svg>
            </div>
            <div class="w-5/6">
              <h4 class="font-semibold text-lg text-gray-700 dark:text-sky-300">
                Three Skill Challenge
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Capture your best three skills within the Coach Bowman app. Think you have the most unique sequence? Show us what you got.
              </p>
            </div>
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-sky-100 dark:bg-sky-600/20"
            >
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 m-auto text-sky-600 dark:text-sky-400">
                <path d="M7 10V8a5 5 0 0110 0v2"></path>
                <rect x="5" y="10" width="14" height="10" rx="2"></rect>
                <circle cx="12" cy="15" r="1"></circle>
              </svg>
            </div>
            <div class="w-5/6">
              <h4 class="font-semibold text-lg text-gray-700 dark:text-sky-300">
                Prize Pack (Each Winner)
              </h4>
              <ul class="text-gray-500 dark:text-gray-400 list-disc pl-5">
                <li>One Year of Coach Bowman subscription</li>
                <li>Training tank</li>
                <li>Tripod</li>
                <li>$100 Amazon gift card</li>
              </ul>
            </div>
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-green-100 dark:bg-green-900/20"
            >
              <div
                class="w-12 h-12 flex gap-4 rounded-full bg-green-100 dark:bg-green-900/20"
              >
                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 m-auto text-green-600 dark:text-green-400">
                  <rect x="7" y="4" width="10" height="16" rx="2"></rect>
                  <path d="M9 4h6v3H9z"></path>
                  <path d="M8.5 13.5l2 2 4-4"></path>
                </svg>
              </div>
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-green-400"
              >
                How Winners Are Picked
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                We pick the most creative, funny, or unique entries. It is
                not about the hardest skill or highest score.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="m-10 lg:my-10 lg:mr-32 lg:ml-10">
    <div
      class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-10 lg:items-center"
    >
      <div class="md:w-7/12 lg:w-1/2">
        <h2
          class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
        >How to Enter the
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 font-bold"
            >#CoachBowmanChallenge</span
          >
        </h2>
        <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
          <div class="mt-8 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-green-200 dark:bg-green-900/20"
            >
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 m-auto text-green-600 dark:text-green-400">
                <rect x="3" y="6" width="18" height="12" rx="2"></rect>
                <circle cx="12" cy="12" r="3"></circle>
                <path d="M3 10c2 0 3-2 3-2M21 10c-2 0-3-2-3-2M3 14c2 0 3 2 3 2M21 14c-2 0-3 2-3 2"></path>
              </svg>
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-green-400"
              >
                Step 1: Agree to Giveaway Terms
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Download Coach Bowman, capture your turn in the app, then clip
                your best skill into your favorite celebration.
              </p>
            </div>
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-green-300 dark:bg-green-800/30"
            >
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 m-auto text-green-700 dark:text-green-500">
                <line x1="6" y1="18" x2="18" y2="6"></line>
                <circle cx="7.5" cy="7.5" r="2.5"></circle>
                <circle cx="16.5" cy="16.5" r="2.5"></circle>
              </svg>
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-green-500"
              >
                Step 2: Download the Coach Bowman App
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Use the Participate in Giveaway button while clipping. It adds
                the Coach Bowman logo overlay and takes you to agree to giveaway
                terms.
              </p>
            </div>
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex items-center justify-center gap-4 rounded-full bg-purple-200 dark:bg-purple-900/20"
            >
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 text-purple-600 dark:text-purple-400 translate-x-[1px]">
                <circle cx="9" cy="8" r="3"></circle>
                <path d="M2 20c0-3.314 3.134-6 7-6"></path>
                <path d="M16 11v4"></path>
                <path d="M14 13h4"></path>
              </svg>
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-purple-400"
              >
                Step 3: Capture Your Clip in the Coach Bowman App
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Post your clip as a Reel, tag @CoachBowman, and include
                #CoachBowmanChallenge1 to complete your entry.
              </p>
            </div>
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex items-center justify-center gap-4 rounded-full bg-purple-200 dark:bg-purple-900/20"
            >
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 text-purple-600 dark:text-purple-400 translate-x-[1px]">
                <circle cx="9" cy="8" r="3"></circle>
                <path d="M2 20c0-3.314 3.134-6 7-6"></path>
                <path d="M16 11v4"></path>
                <path d="M14 13h4"></path>
              </svg>
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-purple-400"
              >
                Step 4: Post on Instagram
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Post your clip as a Reel, tag @CoachBowman, and include
                #CoachBowmanChallenge1 to complete your entry.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="md:w-5/12 lg:w-1/2">
        <img
          src={instagram}
          alt="dashboard screenshot"
          class="w-full mt-12 md:mt-0"
        />
      </div>
    </div>
  </div>
  <div class="m-10 lg:my-10 lg:ml-32 lg:mr-10">
    <div
      class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-4 lg:items-center"
    >
     
      <div class="max-w-3xl mx-auto">
        <h2
          class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white"
        > Affiliate 
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 font-bold"
            >Hooks</span
          > 
        </h2>
        <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
          <div class="mt-8 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-indigo-200 dark:bg-indigo-900/20"
            >
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 m-auto text-indigo-600 dark:text-indigo-400">
                <rect x="3" y="5" width="18" height="16" rx="2"></rect>
                <path d="M16 3v4M8 3v4M3 11h18"></path>
                <circle cx="17" cy="17" r="3"></circle>
                <path d="M17 15v2l1 1"></path>
              </svg>
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-indigo-400"
              >
                Hook 1
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Turn your best skill into a win. Film it. Clip it. Celebrate
                it. Win gear.
              </p>
            </div>
          </div>
          <div class="pt-4 flex gap-4 md:items-center">
            <div
              class="w-12 h-12 flex gap-4 rounded-full bg-purple-200 dark:bg-purple-900/20"
            >
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 m-auto text-purple-600 dark:text-purple-400">
                <rect x="7" y="2" width="10" height="20" rx="2"></rect>
                <rect x="10" y="18" width="4" height="1" rx="0.5"></rect>
              </svg>
            </div>
            <div class="w-5/6">
              <h4
                class="font-semibold text-lg text-gray-700 dark:text-purple-400"
              >
                Hook 2 + Hook 3
              </h4>
              <p class="text-gray-500 dark:text-gray-400">
                Already training anyway? Post one clip and you could win.
                Best skill. Best celebration. Three winners.
              </p>
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </div>
</div>
