---
import ContestTerms from "../components/ContestTerms.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Coach Bowman Contest Terms">
  <main class="mb-10 space-y-20">
    <ContestTerms />
  </main>
</Layout>
