---
import Layout from "../layouts/Layout.astro";
import Form from "../components/DownloadForm.astro";
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-20 mb-10">
    <Form />
  </main>
</Layout>
