---
import Layout from "../layouts/Layout.astro";
import Giveaways from "../components/Giveaways/Giveaways.astro";
import GiveawaysTagline from "../components/Giveaways/GiveawaysTagline.astro";
import GiveawaysCallToAction from "../components/Giveaways/GiveawaysCallToAction.astro";
---

<Layout title="Coach Bowman Giveaways">
  <main class="space-y-20 mb-10">
    <GiveawaysTagline />
    <Giveaways />
    <GiveawaysCallToAction />
  </main>
</Layout>
