---

import Layout from "../layouts/Layout.astro";
import NILProgram from "../components/NIL Program/NILProgram.astro";
import NILProgramTagline from "../components/NIL Program/NILProgramTagline.astro";
import NILProgramCallToAction from "../components/NIL Program/NILProgramCallToAction.astro";
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-20 mb-10">
    <NILProgramTagline />
    <NILProgram />
    <NILProgramCallToAction />
  </main>
</Layout>
