---
import Layout from "../layouts/Layout.astro";
import Policy from "../components/PrivatePolicy.astro";
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-20 mb-10">
    <Policy />
  </main>
</Layout>
