---
import Layout from "../layouts/Layout.astro";
import TermsService from "../components/TermsService.astro";
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-20 mb-10">
    <TermsService />
  </main>
</Layout>
