---
import Layout from "../layouts/Layout.astro";
import UsersView from "../components/Users.astro";
---

<Layout title="Welcome to Astrolus.">
  <main class="space-y-20 mb-10">
    <UsersView />
  </main>
</Layout>
