---
import Container from "./Container.astro";
import beam from "../assets/beam-tripod.png";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-30 dark:opacity-50"
  >
    <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400">
    </div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300">
    </div>
  </div>
  <Container>
    <div class="pt-10 ml-auto">
      <section class="bg-white dark:bg-gray-900">
        <div
          class="relative py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6"
        >
          <div class="text-center mx-auto mb-8">
            <h1
              class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-6xl"
            >
              Limited Early Access
            </h1>
            <p
              class="mt-8 text-center text-xl text-gray-600 dark:text-gray-300"
            >
              We are looking for a small number of early adopters to start for
              free and provide feedback on our product.
            </p>
          </div>
          <!-- Card -->
          <div
            class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 shadow-2xl shadow-gray-600/10 max-w-lg mx-auto"
          >
            <h1 class="text-gray-900 dark:text-white font-bold text-3xl mb-2">
              Register to download now
            </h1>
            <form class="max-w-lg mx-auto">
              <!-- Name -->
              <div class="mb-5">
                <label
                  for="name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Your name</label
                >
                <input
                  type="text"
                  id="name"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 valid:ring-green-500 valid:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:valid:ring-green-500 dark:valid:border-green-500"
                  required
                />
              </div>
              <!-- Email -->
              <div class="mb-5">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Your email</label
                >
                <input
                  type="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 valid:ring-green-500 valid:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:valid:ring-green-500 dark:valid:border-green-500"
                  placeholder="coach@bowman.com"
                  required
                />
              </div>
              <!-- Sport -->
              <div class="mb-5">
                <label
                  for="sport"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Your sport</label
                >
                <input
                  type="text"
                  id="sport"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 valid:ring-green-500 valid:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:valid:ring-green-500 dark:valid:border-green-500"
                  placeholder="Women's Gymnastics"
                  required
                />
              </div>
              <button type="submit">
                <a
                  class="relative flex h-9 w-full items-center justify-center px-4 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
                >
                  <span class="relative text-sm font-semibold text-white"
                    >Download now</span
                  >
                </a>
              </button>
              <!-- Repeat for other sections -->
            </form>
          </div>
        </div>
      </section>
    </div>
  </Container>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form");
    const apiUrl = import.meta.env.PUBLIC_API_KEY;

    form.addEventListener("submit", async (event) => {
      event.preventDefault(); // Prevent the default form submission behavior

      // Collect form data
      const formData = {
        name: (form.querySelector("#name") as HTMLInputElement).value,
        email: (form.querySelector("#email") as HTMLInputElement).value,
        sport: (form.querySelector("#sport") as HTMLInputElement).value,
      };

      try {
        // Submit form data to the API
        const response = await fetch(apiUrl, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(formData),
        });

        if (!response.ok) {
          throw new Error(`Error: ${response.statusText}`);
        }

        // Handle successful response
        const data = await response.json();
        console.log("Form submitted successfully:", data);

        // Redirect or provide feedback
        alert(
          "Thank you for registering! You will now be redirected to download.",
        );
        const downloadLink = "https://testflight.apple.com/join/5XVCpmd8";
        window.open(downloadLink, "_blank"); // Open the download link in a new tab
      } catch (error) {
        console.error("Failed to submit the form:", error);
        alert("There was an error submitting the form. Please try again.");
      }
    });
  });
</script>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form");
    const downloadLink = "https://testflight.apple.com/join/5XVCpmd8";

    form.addEventListener("submit", (event) => {
      event.preventDefault(); // Prevent the default form submission behavior
      window.open(downloadLink, "_blank"); // Open the link in a new tab
    });
  });
</script>
